.build/
.swiftpm/
.cocoapods_home/
Pods/
build.xcresult/
WanderFlow.xcworkspace/
*.o
manual_tests_bin
**/xcuserdata/
**/project.xcworkspace/
*.xcuserstate
*.xcresult
*.dSYM/
*.dSYM.zip
*.log
*.tmp
DerivedData/
*.app
*.ipa
*.DS_Store
test_swiftui
test_xctest.swift
test_swiftui.swift
